.header {
  display: flex;
  justify-content: space-between;
}
.menu {
  display: flex;
}
.header a{
  color: var(--white-color);
  text-decoration: none;
  cursor: pointer;
  padding-right: 20px;
  transition: color 0.2 ease-in-out;
}
.header a:hover {
  color: var(--secondary-color);
}
.button span{
  color: var(--white-color);
}
.content {
  padding: 74px 24px 0px 24px;
}